body {
    background-color: #08080e;
}
html {
    scroll-behavior: smooth;
}

/* header section */
.header {
    position: fixed;
    width: 20%;
    left: 0;
    top: 0;
    height: 100%;
    background-image: linear-gradient(62deg, #c9fa84 0%, #3eb3cb 100%);
}
li{
    list-style: none;
}
ul li a {
    text-decoration: none;
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui;
    color: white;
    font-weight: 700;
    line-height: 65px;
}
.header ul li:hover{
    background: #4fe98c;
    color: black;
    margin-right: 15px;
}
.header ul li a i {
    padding: 10px;
}

/* hero section */
.hero-content {
    background: #0c1a28;
    border: 1px solid #1f3e5e;
    width: 60%;
    padding: 60px;
    margin-top: 30px;
    margin-left: 400px;
    border-radius: 20px;
}
.text-white {
    color: white;
    line-height: 1em;
    font-size: 35px;
    font-family: system-ui;

}
.text-green {
    color: #4fe98c;
    font-size: 18px;
    font-family: system-ui;
    margin-bottom: -22px;
}
.hero-btn {
    background: #4fe98c;
    color: white;
    font-size: 14px;
    margin-top: 0px;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 5px;
    text-decoration: none;
}
.hero-img {
    width: 200px;
    display: block;
    margin-bottom: 20px;
}
.hero-content-cart {
   display: flex;
   justify-content: center;
   gap: 30px;
   margin-top: 15px;
   color: white;
}
.hero-cart {
    background: #080a0c;
    border: 1px solid #1f3e5e;
    flex-basis: 24%;
    width: 145px;
    margin-top: 15px;
    padding: 35px 25px;
    border-radius: 10px;
}
.hero-cart h4 {
    font-size: 22px;
    margin-bottom: -4px;
    font-family: sans-serif;
}
.hero-cart p {
    font-size: 14px;
    font-family: system-ui;
}
.hero-content input {
    background: #091420;
    border: 1px solid #1f3e5e;
    padding: 12px 15px;
    color: white;
    width: 46%;
}
.hero-content textarea {
    background: #091420;
    border: 1px solid #1f3e5e;
    padding: 12px 15px;
    color: white;
    width: 96%;
    height: 100px;
    margin-top: 10px;
}
.hero-content input[type='submit'] {
    background: #4fe98c;
    color: white;
    width: 200px;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
/* Abot secton */
.about-content {
    background: #0c1a28;
    border: 1px solid #1f3e5e;
    width: 60%;
    padding: 60px;
    margin-top: 30px;
    margin-left: 400px;
    border-radius: 20px;
}
.about-btn {
    background: #4fe98c;
    color: white;
    font-size: 14px;
    margin-top: 0px;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 5px;
    text-decoration: none;
}
.about-img {
    width: 200px;
    display: block;
    margin-bottom: 20px;
}
/* service section */
.service-content {
    background: #0c1a28;
    border: 1px solid #1f3e5e;
    width: 60%;
    padding: 60px;
    margin-top: 30px;
    margin-left: 400px;
    border-radius: 20px;
}
.service-content-cart {
   display: flex;
   justify-content: center;
   gap: 30px;
   margin-top: 15px;
   color: white;
}
.service-cart {
    background: #080a0c;
    border: 1px solid #1f3e5e;
    flex-basis: 24%;
    width: 145px;
    margin-top: 15px;
    padding: 35px 25px;
    border-radius: 10px;
}
.service-btn {
    background: #4fe98c;
    color: white;
    font-size: 14px;
    margin-top: 0px;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 5px;
    text-decoration: none;
}
.service-cart h4 {
    font-size: 22px;
    margin-bottom: -4px;
    font-family: sans-serif;
}
.service-cart p {
    font-size: 14px;
    font-family: system-ui;
}
.service-cart:hover {
    border: 2px solid #080a0c;
}
.service-img {
    width: 200px;
    display: block;
    margin-bottom: 20px;
}
/* contact section */
.contact-area {
    background: #0c1a28;
    border: 1px solid #1f3e5e;
    width: 60%;
    padding: 60px;
    margin-top: 30px;
    margin-left: 400px;
    border-radius: 20px;
}
.contact-img {
    width: 200px;
    display: block;
    margin-bottom: 20px;
}
.contact-area input {
    background: #091420;
    border: 1px solid #1f3e5e;
    padding: 12px 15px;
    color: white;
    width: 46%;
}
.contact-area textarea {
    background: #091420;
    border: 1px solid #1f3e5e;
    padding: 12px 15px;
    color: white;
    width: 96%;
    height: 100px;
    margin-top: 10px;
}
.contact-area input[type='submit'] {
    background: #4fe98c;
    color: white;
    width: 200px;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.creator {
    font-size: 13px;
    color: white;
    text-align: right;
    margin-bottom: -45px;
    font-family: serif;
    text-transform: capitalize;
}
.creator span {
    text-transform: capitalize;
    font-weight: bold;
    color: #4fe98c;
    font-size: 14px;
}



